{% extends "layout.html" %}
{% set active_page = 'home' %}

{% block style %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block scripts %}
<script src='/static/js/jquery.3.4.0.min.js'></script>
<script src='/static/js/carousel.js' async></script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div id='home-content-wrapper'>
<div id='image-carousel'>
  <div id='carousel-image-design' class='carousel-item visible'>
    <h2>Design</h2>
    <p>Great design. Excellent.</p>
    <img src='/static/img/carousel/design.jpg' />
  </div>
  <div id='carousel-image-develop' class='carousel-item'>
    <h2>Develop</h2>
    <p>Good, fast, cheap. Pick three.</p>
    <img src='/static/img/carousel/develop.jpg' />
  </div>
  <div id='carousel-image-work' class='carousel-item'>
    <h2>Work</h2>
    <p>Around here it's TGIM.</p>
    <img src='/static/img/carousel/work.jpg' />
  </div>
</div>
<section id='home-content'>
  <h3 class='cta-contact'>Contact me:</h3>
  <div id='contact-info' itemscope='' itemtype='http://schema.org/person'>
    <h3 itemprop='name'>Keith B. Smith</h3>
    <h3>p: <a href='tel:724-456-7677' itemprop='telephone'>724-456-7677</a></h3>
    <h3>e: <a href='mailto:keithbsmith87@gmail.com' itemprop='email'>keithbsmith87@gmail.com</a></h3>
    <h3>a: <a href='https://goo.gl/maps/3fDjMqU7z5RVqAMY9' target='_blank' itemprop='homeLocation'>Hermitage, PA</a></h3>
  </div>
  <div id='about-me'>
    <div>
      <p>K</p>
    </div>
    <p>My name is Keith B. Smith. I am a website designer and developer, and I spend my time working on and building websites. I currently reside in Hermitage, PA but I have had the opportunity to live in a diverse range of urban and rural environments. I have spent time working and studying in New York City, Houston, Boston, and San Francisco.</p>
  </div>
  <div id='mercer'>
    <div id='mercer-text-wrapper'>
      <h4>Mercer County</h4>
      <p>Mercer county is a rural county located in western Pennsylvania. It has a slow, laid-back pace that is ideal for contemplation and rumination.</p>
    </div>
    <img src='/static/img/barn.jpg' alt='red barn in rural setting'>
  </div>
  <div id='quote-block'>
    <div id='quote-block-item-a' class='quote-block-item'>
      <div class='icon-wrapper'>
        <i class="fas fa-pencil-ruler"></i>
      </div>
      <div class='item-text-wrapper'>
        <h2>Design</h2>
        <p>&quot;Design is the process of expending considerable time, thought and energy into making something that looks and feels effortless. Good design talks for itself.&quot;</p>
        <p>-Christopher Anton</p>
      </div>
    </div>
    <div id='quote-block-item-b' class='quote-block-item'>
      <div class='icon-wrapper'>
        <i class="fas fa-laptop-code"></i>
      </div>
      <div class='item-text-wrapper'>
        <h2>Develop</h2>
        <p>&quot;A good programmer is someone who always looks both ways before crossing a one-way street.&quot;</p>
        <p>-Doug Linder</p>
      </div>
    </div>
    <div id='quote-block-item-c' class='quote-block-item'>
      <div class='icon-wrapper'>
        <i class="fas fa-mug-hot"></i>
      </div>
      <div class='item-text-wrapper'>
        <h2>Work</h2>
        <p>&quot;Happiness is not in the mere possession of money; it lies in the joy of achievement, in the thrill of creative effort.&quot;</p>
        <p>-Franklin D. Roosevelt</p>
      </div>
    </div>
  </div>
  <aside id='banner-wrapper'>
    <div id='banner'>
      <div id='banner-content-l'>
        <h5>Contact me today about your digital needs today</h5>
      </div>
      <div id='banner-content-shape'></div>
      <div id='banner-content-r'>
        <h5>Let's talk</h5>
      </div>
    </div>
  </aside>
  <div id='resume-wrapper'>
    <h5>Download my <a href='Resume-Keith-Smith-2019.pdf' nofollow>resume</a>.</h5>
    <h5>Check out my <a href='https://github.com/afewvowels/'>code</a>.</h5>
  </div>
</section>
</div>
{% endblock %}
