<!DOCTYPE html>
<html>
<head>
  <title>Python Website Test | {% block title %}{% endblock %}</title>
  <meta charset='utf-8' />
  <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/style.css") }}' />
  <link rel="stylesheet" href="https://use.typekit.net/aid1fij.css">
{% block style %}{% endblock %}
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/manifest.json">

  {% block scripts %} {% endblock %}
</head>
<body>
  <header>
    <h1>Keith B. Smith</h1>
    <nav>
      {% set nav_bar = [('/','home','Home'),('/about','about','About'),('/contact','contact','Contact')] -%}
      {% set active_page = active_page|default('home') -%}
      <ul>
        {% for href, id, caption in nav_bar %}
        <li><a href='{{ href|e }}'><span {% if id == active_page %} class='active'{% endif %} data-attr='{{ caption|e }}'>{{ caption|e }}</span></a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
    <h6>&copy;{{ year }} Keith B. Smith</h6>
    {% endblock %}
  </footer>
</body>
</html>
